{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card login-card">
                    <div class="bg-info p-1 text-white"><i class="fa fa-key" aria-hidden="true"></i> Mot de passe oublié</div>
                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="inputEmail" class="sr-only">Email</label>
                                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                </div>
                                <button class="btn btn-danger float-right" type="submit">
                                    <i class="fa fa-check-square" aria-hidden="true"></i> Valider
                                </button>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}