{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="bg-info p-1 text-white"><h3><i class="fa fa-lock fa-2x" aria-hidden="true"></i> Connexion sécurisée</h3></div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                            <div class="form-group">
                                <label for="inputUsernameOrEmail" class="sr-only">Email</label>
                                <input type="text" value="{{ last_username }}" name="usernameOrEmail" id="inputUsernameOrEmail" class="form-control" placeholder="Identifiant ou Email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                            <button class="btn btn-lg btn-danger float-right" type="submit">
                                <i class="fa fa-lock" aria-hidden="true"></i> Se connecter
                            </button>
                    </form>
                    <div class="link_to_change">
                        <a href="{{ path('forgotten_password') }}">Mot de passe oublié</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
