{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card login-card">
                    <div class="bg-info p-1 text-white"><h3><i class="fa fa-lock fa-2x" aria-hidden="true"></i> Modification de mot de passe</h3></div>
                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                    <input type="hidden" name="token" value="{{ token }}">
                                </div>
                                <button class="btn btn-danger float-right" type="submit">
                                    <i class="fa fa-check-square" aria-hidden="true"></i> Valider
                                </button>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}