.login-card {
    margin: 200px auto;
}
label.required{
    color: #777 !important;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 22px;
    font-size: 13px;
}
label.required:after {
    content: " *";
    color: #FF0000;
}

table thead {
    background-color: #34495e;
    color: #fff;
}

form.delete-btn {
    display: inline-block;
}