{% extends 'baseBack.html.twig' %}

{% block title %}Acquis et soldes congés salarié{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {'navCurrent': "Acquis et soldes congés salarié", 'navParent': "Congés & Absences"} %}
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <section class="panel">
            {% include 'vacationRequest/list/userVacations.html.twig' with {'vacations': user.vacations} %}
        </section>
    </div>
{% endblock %}
