{% extends 'baseBack.html.twig' %}

{% block title %}Demandes de congés et absences{% endblock %}

{% block body %}

    {{ include('vacationRequest/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row">
        <div class="col-md-12">

            <div class="toggle" data-plugin-toggle>
                <section class="toggle active">
                    <label>Synthèse soldes congés</label>

                    <div class="toggle-content">
                        {{ include('vacationRequest/list/userVacations.html.twig') }}
                    </div>
                </section>
                <section class="toggle active">
                    <label>Historique des demandes</label>

                    <div class="toggle-content">
                        {{ include('vacationRequest/list/userRequestHistory.html.twig') }}
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
            $('#startDate').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                minDate: today,
                format: 'dd/mm/yyyy',
                language: 'fr',
                startDate: today,
                maxDate: function () {
                    return $('#endDate').val();
                }
            });
            $('#endDate').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                minDate: function () {
                    return $('#startDate').val();
                },
                format: 'dd/mm/yyyy',
                language: 'fr',
            });
        });
    </script>
{% endblock %}