{% extends 'baseBack.html.twig' %}

{% block title %}New VacationRequest{% endblock %}

{% block body %}
    <h1>Create new VacationRequest</h1>

    {{ include('vacationRequest/_form.html.twig') }}

    <a href="{{ path('vacation_request_index') }}">back to list</a>
{% endblock %}
