{% extends 'baseBack.html.twig' %}

{% block title %}Ajout d'une adresse{% endblock %}

{% block body %}
    <h3><i class="fas fa-address-card fa-2x"></i> Ajout d'une nouvelle adresse</h3>
    {{ include('address/_form.html.twig') }}
{% endblock %}
